<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rh.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rh.email %>
</p>

<%= link_to 'Edit', edit_rh_path(@rh) %> |
<%= link_to 'Back', rhs_path %>
