<p id="notice"><%= notice %></p>

<p>
  <strong>New cost center:</strong>
  <%= @transference.new_cost_center %>
</p>

<p>
  <strong>Old cost center:</strong>
  <%= @transference.old_cost_center %>
</p>

<p>
  <strong>Cost center:</strong>
  <%= @transference.cost_center %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transference.status %>
</p>

<p>
  <strong>Who ask:</strong>
  <%= @transference.who_ask %>
</p>

<p>
  <strong>User:</strong>
  <%= @transference.user %>
</p>

<p>
  <strong>Collaborator:</strong>
  <%= @transference.collaborator %>
</p>

<p>
  <strong>New branch:</strong>
  <%= @transference.new_branch %>
</p>

<p>
  <strong>Old branch:</strong>
  <%= @transference.old_branch %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @transference.branch %>
</p>

<p>
  <strong>New company:</strong>
  <%= @transference.new_company %>
</p>

<p>
  <strong>Old company:</strong>
  <%= @transference.old_company %>
</p>

<p>
  <strong>Company:</strong>
  <%= @transference.company %>
</p>

<p>
  <strong>Tranference date:</strong>
  <%= @transference.tranference_date %>
</p>

<p>
  <strong>Old city:</strong>
  <%= @transference.old_city %>
</p>

<p>
  <strong>New city:</strong>
  <%= @transference.new_city %>
</p>

<%= link_to 'Edit', edit_transference_path(@transference) %> |
<%= link_to 'Back', transferences_path %>
