<%= form_with(model: change_function, local: true) do |form| %>
  <% if change_function.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(change_function.errors.count, "error") %> prohibited this change_function from being saved:</h2>

      <ul>
      <% change_function.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :branch_id %>
    <%= form.text_field :branch_id %>
  </div>

  <div class="field">
    <%= form.label :collaborator %>
    <%= form.text_field :collaborator %>
  </div>

  <div class="field">
    <%= form.label :cost_center_id %>
    <%= form.text_field :cost_center_id %>
  </div>

  <div class="field">
    <%= form.label :current_position %>
    <%= form.text_field :current_position %>
  </div>

  <div class="field">
    <%= form.label :new_position %>
    <%= form.text_field :new_position %>
  </div>

  <div class="field">
    <%= form.label :date_change %>
    <%= form.date_select :date_change %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
