<p id="notice"><%= notice %></p>

<p>
  <strong>Collaborator:</strong>
  <%= @disconnexion.collaborator %>
</p>

<p>
  <strong>Cost center:</strong>
  <%= @disconnexion.cost_center %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @disconnexion.charge %>
</p>

<p>
  <strong>Date admission:</strong>
  <%= @disconnexion.date_admission %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @disconnexion.observation %>
</p>

<p>
  <strong>Company initiative:</strong>
  <%= @disconnexion.company_initiative %>
</p>

<p>
  <strong>Employee initiative:</strong>
  <%= @disconnexion.employee_initiative %>
</p>

<p>
  <strong>Agreed disconexion:</strong>
  <%= @disconnexion.agreed_disconexion %>
</p>

<p>
  <strong>Antecipation contract:</strong>
  <%= @disconnexion.antecipation_contract %>
</p>

<p>
  <strong>Contract term:</strong>
  <%= @disconnexion.contract_term %>
</p>

<p>
  <strong>Date notice:</strong>
  <%= @disconnexion.date_notice %>
</p>

<p>
  <strong>Readmission:</strong>
  <%= @disconnexion.readmission %>
</p>

<p>
  <strong>Reason not readmission:</strong>
  <%= @disconnexion.reason_not_readmission %>
</p>

<p>
  <strong>User:</strong>
  <%= @disconnexion.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @disconnexion.status %>
</p>

<%= link_to 'Edit', edit_disconnexion_path(@disconnexion) %> |
<%= link_to 'Back', disconnexions_path %>
